body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color: brown;
  }
  
  .city-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .city {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .city h2 {
    margin-bottom: 10px;
  }
  
  .city p {
    margin: 0;
  }
  